In [1]:
import jersey_colors as jc
import math
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
# jc contains useful functions for creating leagues and calculating contrast.
# Below, I will create leagues of variable size and contrast values, and plot resulting contrast.
# The goal will be to plot six 3-d graphs: a pair for each color-assignment method (one showing min contrast of 
# a matchup and one showing mean contrast of a matchup) as a function of both league size and input contrast value (contrast
# a between a team's two assigned jersey colors).

In [6]:
# First assignment method: even spacing, using provided contrast value

leagues1_min = []
leagues1_mean = []

# Examning league sizes of [10, 40] teams
for i in range(10,41):
    # Examining contrast values (between a team's two jerseys) of [1, 180] degrees
    for j in range(1, 181):
        league = jc.create_league_contrast_even_spacing(i, j)
        league_contrast = jc.league_contrast(league)
        min = league_contrast['contrast'].min()
        mean = league_contrast['contrast'].mean()
        leagues1_min.append((i, j, min))
        leagues1_mean.append((i, j, mean))

df_leagues1_min = pd.DataFrame(leagues1_min, columns=['num_teams', 'team_contrast', 'min_matchup_contrast'])
df_leagues1_mean = pd.DataFrame(leagues1_mean, columns=['num_teams', 'team_contrast', 'mean_matchup_contrast'])
df_leagues1_min.head()

    0  1   2
0  10  1  37
1  10  2  38
2  10  3  39
3  10  4  40
4  10  5  41

In [8]:
# Second assignment method: random spacing, using provided contrast value
# Note this method has variable performance because of randomness.

leagues2_min = []
leagues2_mean = []

# Examning league sizes of [10, 40] teams
for i in range(10,41):
    # Examining contrast values (between a team's two jerseys) of [1, 180] degrees
    for j in range(1, 181):
        league = jc.create_league_contrast_random_spacing(i, j)
        league_contrast = jc.league_contrast(league)
        min = league_contrast['contrast'].min()
        mean = league_contrast['contrast'].mean()
        leagues2_min.append((i, j, min))
        leagues2_mean.append((i, j, mean))

df_leagues2_min = pd.DataFrame(leagues2_min, columns=['num_teams', 'team_contrast', 'min_matchup_contrast'])
df_leagues2_mean = pd.DataFrame(leagues2_mean, columns=['num_teams', 'team_contrast', 'mean_matchup_contrast'])
df_leagues2_min.head()

   num_teams  team_contrast  min_matchup_contrast
0         10              1                     6
1         10              2                    12
2         10              3                     4
3         10              4                     6
4         10              5                     5

In [16]:
# Third assignment method: random spacing, random contrast value
# Note this method has variable performance because of randomness.

leagues3_min = []
leagues3_mean = []

# Examning league sizes of [10, 40] teams
for i in range(10,41):
    league = jc.create_league_true_random(i)
    league_contrast = jc.league_contrast(league)
    min = league_contrast['contrast'].min()
    mean = league_contrast['contrast'].mean()
    leagues3_min.append((i, min))
    leagues3_mean.append((i, mean))

df_leagues3_min = pd.DataFrame(leagues3_min, columns=['num_teams', 'min_matchup_contrast'])
df_leagues3_mean = pd.DataFrame(leagues3_mean, columns=['num_teams', 'mean_matchup_contrast'])
df_leagues3_min.head()

   num_teams  min_matchup_contrast
0         10                    74
1         11                    85
2         12                    29
3         13                    28
4         14                    30