In [5]:
import jersey_colors as jc
import math
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [8]:
df = jc.create_league_true_random(10)
df

   color1  color2
0     269     352
1     251      57
2     165     157
3     308     152
4     351      19
5     297     247
6     224     199
7     212     301
8     333      22
9      23     105